:root {}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #EBEBEB;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 1.4rem;
}

nav {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav>ul {
    display: flex;
    list-style: none;
    gap: 20px;
}